@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

:root {
    --black: rgb(16, 20, 25);
    --white: rgb(253, 247, 250);
    --grey: rgb(114, 114, 126);
    --red: rgb(225, 20, 78);
    --green: rgb(90, 198, 47);
    --blue: rgb(38, 202, 247);
}

/* Navbar starts here */
header nav {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 1.5em 5em;
    border-bottom: 1px solid rgb(233, 233, 233);
}

nav ul {
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 0 2em;
}

li a {
    color: var(--grey);
    font-weight: 500;
    text-decoration: none;
    position: relative;
    transition: .3s ease;
}

li a:hover {
    color: var(--black);
}

li a::after {
    content: "";
    background-color: var(--black);
    width: 0%;
    height: 2px;
    position: absolute;
    inset: 25px 0 0 0;
    border-radius: 50px;
    transition: 0.3s ease;
}

li a:hover::after {
    width: 100%;
}

li a i {
    color: var(--grey);
    font-size: 10px;
}

.rotate {
    transform: rotate(180deg);
}

li a:hover i {
    color: var(--black);
}

.btn_1 {
    padding: 0.5em 1em;
    border: 1px solid var(--black);
    font-weight: 500;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    color: var(--black);
    cursor: pointer;
}

.btn_1::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--black);
    transition: 0.5s ease;
    display: block;
    z-index: -1;
}

.btn_1:hover::before {
    width: 100%;
}

.btn_1:hover {
    color: var(--white);
}

.sub_menu {
    position: fixed;
    inset: 92px 0 0 200px;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    width: 145px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}

.open {
    height: 220px;
}

.sub_menu a {
    display: block;
    padding: 0.8em 0 0.8em 1.5em;
    color: var(--grey);
    text-decoration: none;
}

.sub_menu a:hover {
    border-left: 1px solid black;
    color: var(--black);
}

/* Mobile navbar */
.nav_icon {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 1.3em;
    left: 2.5em;
    font-size: 1.5em;
}

.fa-xmark {
    /* padding: 2em 0 2em 2em; */
    position: absolute;
    top: 1.6em;
    left: 2em;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--black);
}

.mobile_sidebar {
    position: fixed;
    left: -16em;
    top: 0;
    background-color: rgb(231, 233, 235);
    width: 250px;
    height: 100vh;
    z-index: 9;
    transition: left 0.5s;
    padding-top: 6em;
}

.sidebar_display {
    left: 0;
}

.mobile_sidebar a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
    padding: 1em 0.5em 1em 3em
}

.mobile_sidebar a:hover {
    background-color: var(--white);
}

.is_active {
    background-color: var(--white);
}

.fa-caret-down {
    font-size: 0.8em;
}

.mobile_submenu {
    display: none;
}

.dropdownlinks_display {
    display: block;
}

.line {
    display: flex;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    margin-top: 2em;
    background: linear-gradient(to right, rgba(192, 192, 192, 0.6), lightgrey, rgba(192, 192, 192, 0.6));
}

/* Hero section starts here */
.hero_section {
    width: 100%;
    height: 600px;
    background-color: var(--white);
    cursor: default;
    z-index: 3;
}

.hero_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_heading {
    font-size: 12em;
}

.hero_heading .d,
.m {
    color: var(--blue);
}

.hero_heading .o,
.i {
    color: var(--green);
}

.hero_heading .a,
.n {
    color: var(--red);
}

.hero_subheading .text_1 {
    width: 230px;
    font-weight: 600;
    text-align: center;
    padding: 2em 0;
    color: var(--grey);
}

.btn_2 {
    padding: 0.5em 1.5em;
    border: 1px solid var(--black);
    font-weight: 500;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    color: var(--black);
    cursor: pointer;
}

.btn_2::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--black);
    transition: 0.5s ease;
    display: block;
    z-index: -1;
}

.btn_2:hover::before {
    width: 100%;
}

.btn_2:hover {
    color: var(--white);
}

/* Cards section Starts here */
.card_container {
    width: 100%;
    height: 950px;
    background-color: rgb(243, 243, 243);
}

.box_1 .card {
    position: absolute;
    inset: 38em 0 0 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 500px;
    background-color: var(--white);
    cursor: default;
    transition: opacity 1s, left 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box_2 .card {
    position: absolute;
    top: 58em;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 500px;
    background-color: var(--white);
    cursor: default;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0;
    transition: opacity 1s, right 1s;
}

.box_3 .card {
    position: absolute;
    inset: 80em 0 0 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 500px;
    background-color: var(--white);
    cursor: default;
    transition: opacity 1s, left 1s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box_1 .card.visible,
.box_3 .card.visible {
    opacity: 1;
    left: 12em;
}

.box_2 .card.visible {
    opacity: 1;
    right: 12em;
}

.box_1 .card_heading {
    font-size: 4em;
    padding-bottom: 1em;
    color: var(--green);
}

.box_2 .card_heading {
    font-size: 4em;
    padding-bottom: 1em;
    color: var(--red);
}

.box_3 .card_heading {
    font-size: 4em;
    padding-bottom: 1em;
    color: var(--blue);
}

.card .card_subheading {
    width: 200px;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 2em;
}

.card .card_text {
    font-size: 0.9em;
    width: 240px;
    color: var(--grey);
}

/* Footer starts here */
footer {
    width: 100%;
    height: 500px;
    background-color: var(--white);
}

.footer_box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15em;
}

.footer_text {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 1em;
    cursor: default;
}

.btn_3 {
    padding: 0.5em 1.5em;
    border: 1px solid var(--black);
    font-weight: 500;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    color: var(--black);
    cursor: pointer;
}

.btn_3::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--black);
    transition: 0.5s ease;
    display: block;
    z-index: -1;
}

.btn_3:hover::before {
    width: 100%;
}

.btn_3:hover {
    color: var(--white);
}

.footer_box2 {
    display: flex;
    justify-content: space-between;
    padding-top: 6em;
    margin: 0 1em;
}

.f_text1 {
    color: var(--grey);
    cursor: default;
}

.f_text2 a {
    text-decoration: none;
    padding: 0 0.5em;
    color: var(--grey);
}

@media screen and (max-width: 1270px) {

    .card_container .box_1 .card,
    .card_container .box_3 .card {
        left: 6em;
    }

    .card_container .box_2 .card {
        right: 6em;
    }
}

@media screen and (max-width: 1080px) {
    .card_container .box_1 .card {
        left: 6em;
        width: 350px;
        height: 450px;
    }

    .card_container .box_2 .card {
        right: 6em;
        width: 350px;
        height: 450px;
    }

    .card_container .box_3 .card {
        top: 78em;
        left: 6em;
        width: 350px;
        height: 450px;
    }

    footer {
        height: 400px;
    }

    .footer_box1 {
        padding: 7.5em;
    }

    .footer_box2 {
        padding-top: 0;
    }
}

@media screen and (max-width: 970px) {
    .hero_section {
        height: 500px;
    }

    .card_container {
        height: 1400px;
        padding-top: 2em;
    }

    .card_container .box_1 .card,
    .card_container .box_2 .card,
    .card_container .box_3 .card {
        position: static;
        margin: 2em auto;
        width: 500px;
        height: 400px;
    }

    footer {
        height: 350px;
    }

    .footer_box1 {
        padding: 4em;
    }

    .footer_box2 {
        padding-top: 3em;
    }
}

@media screen and (max-width: 800px) {
    .mobile_nav {
        display: none;
    }

    .nav_icon {
        display: block;
    }

    .hero_section {
        height: 450px;
    }

    .hero_heading {
        font-size: 9em;
    }

    .footer_box2 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-bottom: 1em;
    }
}

@media screen and (max-width: 620px) {
    .hero_heading {
        font-size: 6em;
    }

    .hero_section {
        height: 350px;
    }

    .card_container .box_1 .card,
    .card_container .box_2 .card,
    .card_container .box_3 .card {
        width: 350px;
    }

    .footer_box2 {
        padding-top: 0.5em;
    }

    .footer_text {
        text-align: center;
        width: 350px;
    }

    .f_text1 {
        font-size: 0.8em;
    }

    .f_text2 a {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 440px) {
    header nav {
        padding: 0.8em 1em;
    }

    li a {
        font-size: 0.8em;
    }

    .btn_1 {
        font-size: 0.8em;
    }

    .nav_icon {
        top: 0.7em;
        left: 1em;
    }

    .hero_heading {
        padding-top: 0.5em;
        font-size: 4em;
    }

    .hero_section {
        height: 300px;
    }

    .card_container .box_1 .card,
    .card_container .box_2 .card,
    .card_container .box_3 .card {
        width: 270px;
    }

    .box_1 .card_heading,
    .box_2 .card_heading,
    .box_3 .card_heading {
        font-size: 3em;
    }

    footer {
        height: 350px;
    }

    .footer_text {
        font-size: 1.5em;
        width: 230px;
    }

    .footer_box2 {
        padding-top: 2em;
        margin: 0 2em;
    }
}

@media screen and (max-width: 280px) {
    .card_container .box_1 .card,
    .card_container .box_2 .card,
    .card_container .box_3 .card {
        width: 240px;
    }

    .box_1 .card,
    .box_2 .card,
    .box_3 .card {
        width: 150px;
    }

    .box_1 .card_heading,
    .box_2 .card_heading,
    .box_3 .card_heading {
        font-size: 3em;
    }

    .footer_box2 {
        padding-top: 2em;
        margin: 0 1em;
    }
}